*{
    margin: 0;
    padding: 0;
}

.bgimg {
    background-image: url("https://github.com/jaisaravanaoff/pixwebsite/blob/main/pixucpage_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

main {
    color: white;
    margin: 0;
    font-family: "Doto";
    font-size: 1rem;
    font-weight: 100;
    position: absolute; 
    padding: 10px;
    padding-bottom: 0%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
}

h2 {
    padding: 0%;
    margin: 0%;
    font-family: "Montserrat", sans-serif;
    font-size: 0.5rem;
    font-weight: 400;
    font-style: normal;
}
